#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 42px 100px;
}
#mediaContainer{
    display: flex ;
    flex-wrap: wrap;
    
}
.mediaBox{
    margin: 100px 60px 20px 60px;
    height: 350px;
    width: 350px;
   
}
.mediaImage,
.mediaVideo{
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    overflow: clip;
    overflow-clip-margin: unset;
}
.mediaSubBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.mediaTitle,
.mediaLikes{
    font-size: 1.2em;
}
.mediaTitle{
    color: #901C1C;
    font-weight: 500;
}
.mediaLikes{
    color: #901C1C;
    font-weight: bold;
}
.bottomRightContainer{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 306px;
    background: #DB8876;
    padding: 15px 30px;
    border-radius: 5px 5px 0 5px;
    margin-right: 1.5em;
}

.bottomRightContainer span{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: black;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
}
.contact_button:hover, 
.contact_button:focus {
    background-color: #d3573c;
    color: black;
}

.modal {
    position: absolute;
    top: 50%;
    right: 25%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
#filter{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 160px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.filterMenu{
    margin: 0px 0px 0px 70px;
}