#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 42px 100px;
}
#mediaContainer{
    display: flex ;
    flex-wrap: wrap;
    
}
.mediaBox{
    margin: 100px 60px 20px 60px;
    height: 350px;
    width: 350px;
   
}
.mediaImage,
.mediaVideo{
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    overflow: clip;
    overflow-clip-margin: unset;
}
.mediaSubBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.mediaTitle,
.mediaLikes{
    font-size: 1.2em;
}
.mediaTitle{
    color: #901C1C;
    font-weight: 500;
}
.mediaLikes{
    color: #901C1C;
    font-weight: bold;
}
.bottomRightContainer{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 306px;
    background: #DB8876;
    padding: 15px 30px;
    border-radius: 5px 5px 0 5px;
    margin-right: 1.5em;
}

.bottomRightContainer span{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: black;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
}
.contact_button:hover, 
.contact_button:focus {
    background-color: #d3573c;
    color: black;
}

.modal {
    position: absolute;
    top: 10%;
    right: 30%;
    background-color: rgb(219, 136, 118);
    width:37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 35px;
    margin: auto;
}

.headerModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal header {
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-block: 0px;
    margin-inline: 0px
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
}
form textarea{
    width: 100%;
    font-size: 1.3em;
    height: 150px;
}
.filterLabel{
    font-weight: bold;
    font-size: 1.5em;
}
.filtersDropdown{
    width: 315px;
    position: relative;
    margin-top:10px;
    margin-left: 55px;
}
.filtersDropdown *{
   box-sizing: border-box;
}
.filtersFlex{
    display: flex;
    justify-content: space-around;
}
.selectedBox{
    background-color: #901C1C;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 11px;
    height: 60px;
    font-size:20px;
    cursor: pointer;
    transition: 0.3s;
    width: 160px;
    font-weight: bold;
}
.selectedBox:hover,
.selectedBox:focus{
    background-color: #DB8876;
}
.selectedBox .fa-solid{
    transition: 0.3s;
}
.chevron-rotate{
    rotate: 180deg;
}
.filters{
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #901C1C;
    border-radius: 5px;
    color: white;
    position:absolute;
    top:45px;
    left:50%;
    width: 160px;
    translate:-18px;
    opacity:0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.filters li{
    padding: 0.7em 0.5em;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;

}
.filters li:hover, 
.filters li:focus{
    background-color: #DB8876;
}
.filters .active{ /*couleur de fond du filtre actif*/
    background: #901C1C;
}
.filters-open{ /*ouverture des filtres*/
    display: block;
    opacity: 1;
}
#date::before, /*Barres separatrices et leurs parametres communs*/ 
#date::after{
    content:"";
    position: absolute;
    left: 50%;
    translate:-50%;
    height: 1px;
    width: 85%;
    background-color: #fff;
}
#date::before{ /*barre separatrice du texte filtre (haut)*/
    top: 54px;
}
#date::after{ /*barre separatrice du texte filtre (bas)*/
    top: 102px;
}
#lightbox{
    display: none;
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
#lightbox.active{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
}
#lightboxContainer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width: 70%;
    position: relative;
}
#lightboxContainer .fa-solid{
    color:#901C1C;
    font-size: 70px;
    cursor:pointer;
}
.iContainer{
    position: absolute;
    left: 110%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height: 100%;
}
.fa-chevron-left{
    position: absolute;
    left: -15%;
}
.fa-chevron-right{
    align-self: center;
}
.mediaContainerLightbox{
    display: flex;
    flex-direction: column;
}
.mediaContainerLightbox img,
.mediaContainerLightbox video{
    height: 648px;
    object-fit: contain;
}
#lightbox span{
    font-weight: 500;
    font-size: 1.5em;
    color: #901C1C;
    padding: 5px;
    background-color: rgba(255,255,255,1);
    border-radius: 0px 0px 5px 5px;
}