@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 20px;
}
main{
    margin-bottom: 80px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 300;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.photographer_section a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article span{
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    text-align: center;
    font-weight: 100;
    margin-block-start: 20px;
    margin-block-end: 0;
   
}

.photographer_section article h3 {
    color:#901C1C ;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;
   
}

.photographer_section article h4 {
   font-size: 15px;
   margin-block-start: 0;
   margin-block-end: 0;
  
}


.imgContainer{
    height: 200px;
    width:  200px;
    overflow: hidden;
    border-radius: 50%;
}

#UK{
   object-position:right 50px bottom -1em;
}

#France{
    object-position:right -25px bottom 2em;
}

#Canada{
   height: 209px;
   width: 244px;
}

#Mexico{
    height: 250px;
    width: 240px;  
}

#Spain{
    height: 322px;
    width: 381px;
    object-position: right 36px bottom 1.9em;
}

#Germany{
    height: 346px;
    width: 394px;
    object-position: right 36px bottom 2.5em;
}

.photographer_section article img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    overflow-clip-margin: unset;
  
}
